body {
    font: 14px "Trebuchet MS", "Lucida Sans";
}

.post {
    width: 70vw;
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-weight: bold;
}
    .post a {
        font-weight: bold;
        color: black;
    }
    .post li {
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        margin: .5em 0 .5em 2.5em;
        background: #D3D4DA;
        border: 2px solid #9097A2;
        border-radius: 5px;
        color: #444;
        text-decoration: none;
        transition: all .3s ease-out;
    }
    .post li:hover {
        background: #DCDDE1;
    }       
    .post li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        background: #9097A2;
        border-radius: 5px;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    }
    .post li:after {
        position: absolute;
        content: "";
        border: .5em solid transparent;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        transition: all .3s ease-out;
    }
    .post li:hover:after {
        left: -.5em;
        border-left-color: #9097A2;
    }

input[type = text] {
    font: 14px "Trebuchet MS", "Lucida Sans";
    width: 30vw;
    padding: .4em .4em .4em .8em;
    border: 2px solid #9097A2;
    background: #D3D4DA;
    margin-bottom: 2vh;
    border-radius: 5px;
}

textarea {
    font: 14px "Trebuchet MS", "Lucida Sans";
    width: 30vw;
    padding: .4em .4em .4em .8em;
    border: 2px solid #9097A2;
    background: #D3D4DA;
    margin-bottom: 2vh;
    border-radius: 5px;
}

select {
    font: 14px "Trebuchet MS", "Lucida Sans";
    min-width: 10vw;
    padding: .4em .4em .4em .8em;
    border: 2px solid #9097A2;
    background: #D3D4DA;
    margin-bottom: 4vh;
    border-radius: 5px;
}

input[type = submit] {
    font: 14px "Trebuchet MS", "Lucida Sans";
    min-width: 10vw;
    padding: .4em .4em .4em .8em;
    border: 2px solid #9097A2;
    background: #D3D4DA;
    border-radius: 5px;
}
    input[type = submit]:hover {
        background: #DCDDE1;
    }

a {
    font-weight: bold;
    color: black;
}

.container {
    display: flex;
    width: 660px;
    min-height: 335px;
    border: 2px solid #9097A2;
    background: #D3D4DA;
    border-radius: 5px;
}
    .left img {
        width: 22vw;
        min-height: 44vh;
        border-radius: 5px;
    }
    .right label {
        font: 20px "Trebuchet MS", "Lucida Sans";
        padding: .4em .8em .4em .8em;
        margin-bottom: 2vh;
        border-radius: 5px;
    }
